@import url(https://fonts.googleapis.com/css?family=Arima+Madurai);

html, body {
    font-family: 'Arima Madurai', 'cursive', 'sans-serif';
    height: 100%;
    background-size: cover;
}

.icon-bar {
    background-color: #fff;
}

.photo {
    display: inline;

}

.portFolioImg {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8%;
}

#portFolio {
    padding-bottom: 18px;
}

section {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: calc(100% - 1px);
}

.v-center {
    padding-top: 10%;
    font-size: 70px;
}

.well {
    border-color: transparent;
}

a.list-group-item.active, [class*='-info'] {
    background-color: #168ccc;
    color: #fff;
}

#myBackGround {
    background: url('../img/planet_buble.jpg') -25px -50px;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 100px);
}

#section2 {
    background-color: #8dc2e9;
}

#section3 {
    background-color: #6f5f7c;

}

#section4 {
    background-color: #8dc2e9;

}

#section5 {
    background-color: #6f5f7c;

}

blockquote {
    font-style: italic;
    border: 0;
    margin-bottom: 40px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}

#emailContact {
    font-size: large;
}

#myLogoNav {
    color: #008CBA;

}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.homeButton{
    bottom:10px;
    position: absolute;
    width: 100%;
    font-size: 4em;
    border-radius: 2px;

}
.homeButtonIcon{
    color: white;

}
.homeButtonIcon:hover{
    color: white;
    text-decoration: none;

}
.homeButton:visited{
    color: white;
    text-decoration: none ;

}
#lineButton:focus{
    color: white;
    text-decoration: none ;

}
#section3 a{
    color: black;
}