.li-nav{
  display:inline;
  padding-right:50px;
}
.main-nav{
  margin:20px 0px 50px 0px;
  font-size:20px;
}
blockquote{
	font-style:italic;
  border:0;
  margin-bottom:40px;
  color:#C4CACC;
}
.portrait{
width:80%;
}
.img-center{
  margin:0 auto;
}
.header{
  padding:10px 0;
}