.row{
    text-align: center;
}
body{
    background-color: #53555b;
    color: white;
}
h3{
    color: #990055;
}
button{
    background-color: #53555b;
    border-radius: 10%;
}
.fleche{
    color: #990055;
    font-size: x-large;
}